body {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

.fa,
.fab {
  padding: 2.5px
}

.papertitle {
  font-weight: 700;
}

.text {
  width: 160px;
  height: 160px;
  position: absolute;
}

.holder {
  width: 100%;
  max-width: 800px;
  border: 0px;
  border-spacing: 0px;
  border-collapse: separate;
  margin-right: auto;
  margin-left: auto;
}
.cell{
  display: flex;
  align-items:center;
  padding: 20px;
}
.left{
  margin-right: 20px;
  vertical-align:middle;
}
.right{
  margin-left: 20px;
  vertical-align:middle;
}

blockquote {
  background: #f9f9f9;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}