.chatbox {
    width: 80%;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.message{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    max-width: 80%;
}
.message.user {
    background-color: #d1e7dd;
    align-self: flex-end;
}
.message.alice{
    background-color: #f8d7da;
    align-self: flex-start;
}
input {
    border: none;
    border-top: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    outline: none;
    align-self: stretch;
}